@import '../variables/variables';

.columns{
    display: flex;
    justify-content: center;
    background-image: url(../../assets/3-Columns-Background.png);
    .container{
        width: 80%;
        display: flex;
        flex-direction: row;
    }
}