footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    margin-bottom: 2vh;
    .dist{
        width: 33%;
        height: 100%;
        padding-right: 5em;
    }
    .icons{
        display: flex;
        justify-content: flex-end;
        .box{
            width: 30px;
            height: 30px;
        }
        .fb{
            width: 30px;
            height: 30px;
            background: transparent url(../../../assets/Facebook.svg) no-repeat;
        }
        .insta{
            background: transparent url(../../../assets/Instagram.svg) no-repeat;
        }
    }

}